{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<h2>Calendar</h2>
<table class="table">
  <thead class="thead-light">
    <th scope="col">Subjects</th>
    <th scope="col">Schedule</th>
  </thead>
  <tbody>
     <a href='?post=TRUE'><button id="send">Send to InfluxDB!</button></a> {{response}}
     <br>
    {{#each events}}
      <tr>
        <td>{{this.scheduleId}}</td>
        <td>
          <ul class="list-unstyled">
            {{#each this.scheduleItems}}
              <li class="border p-1" title="">
                {{this.start.dateTime}} till {{this.end.dateTime}}
              </li><li class="border p-1"><b>Subject</b>: {{this.subject}}</li>
            {{/each}}
          </ul>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
